Connected Services/IkpWebService/IkpWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ispv.cz/ikp/webservices/2017-1/ikpwebservice" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ispv.cz/ikp/webservices/2017-1/ikpwebservice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ispv.cz/ikp/webservices/2017-1/ikpwebservice">
      <s:element name="OveritStavApi">
        <s:complexType />
      </s:element>
      <s:element name="OveritStavApiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OveritStavApiResult" type="tns:StavApi" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="StavApi">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DostupnostServeru" type="tns:DostupnostApi" />
          <s:element minOccurs="0" maxOccurs="1" name="Zprava" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="DostupnostApi">
        <s:restriction base="s:string">
          <s:enumeration value="dostupne" />
          <s:enumeration value="nedostupnePretizeno" />
          <s:enumeration value="nedostupneUdrzba" />
          <s:enumeration value="nedostupneTrvale" />
        </s:restriction>
      </s:simpleType>
      <s:element name="ZkontrolovatData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlData" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZkontrolovatDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZkontrolovatDataResult" type="tns:IspvChyby" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="IspvChyby">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CiselnikChyb" type="tns:ArrayOfChyba" />
          <s:element minOccurs="0" maxOccurs="1" name="ChybyEkonomickehoSubjektu" type="tns:ArrayOfInt" />
          <s:element minOccurs="0" maxOccurs="1" name="ChybyPracovnichPomeru" type="tns:ArrayOfZamestnanec" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfChyba">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Chyba" nillable="true" type="tns:Chyba" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Chyba">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdChyba" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Uroven" type="tns:Uroven" />
          <s:element minOccurs="0" maxOccurs="1" name="Nazev" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Popis" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Veta" type="tns:Veta" />
          <s:element minOccurs="0" maxOccurs="1" name="Polozky" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="Uroven">
        <s:restriction base="s:string">
          <s:enumeration value="Z" />
          <s:enumeration value="V" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="Veta">
        <s:restriction base="s:string">
          <s:enumeration value="MI" />
          <s:enumeration value="MP" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfZamestnanec">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Zamestnanec" nillable="true" type="tns:Zamestnanec" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Zamestnanec">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IDZAM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdChyby" type="tns:ArrayOfInt" />
        </s:sequence>
      </s:complexType>
      <s:element name="OdeslatData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlData" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="jmeno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefon" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="komentar" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OdeslatDataResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="OveritStavApiSoapIn">
    <wsdl:part name="parameters" element="tns:OveritStavApi" />
  </wsdl:message>
  <wsdl:message name="OveritStavApiSoapOut">
    <wsdl:part name="parameters" element="tns:OveritStavApiResponse" />
  </wsdl:message>
  <wsdl:message name="ZkontrolovatDataSoapIn">
    <wsdl:part name="parameters" element="tns:ZkontrolovatData" />
  </wsdl:message>
  <wsdl:message name="ZkontrolovatDataSoapOut">
    <wsdl:part name="parameters" element="tns:ZkontrolovatDataResponse" />
  </wsdl:message>
  <wsdl:message name="OdeslatDataSoapIn">
    <wsdl:part name="parameters" element="tns:OdeslatData" />
  </wsdl:message>
  <wsdl:message name="OdeslatDataSoapOut">
    <wsdl:part name="parameters" element="tns:OdeslatDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IkpWebServiceSoap">
    <wsdl:operation name="OveritStavApi">
      <wsdl:input message="tns:OveritStavApiSoapIn" />
      <wsdl:output message="tns:OveritStavApiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZkontrolovatData">
      <wsdl:input message="tns:ZkontrolovatDataSoapIn" />
      <wsdl:output message="tns:ZkontrolovatDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OdeslatData">
      <wsdl:input message="tns:OdeslatDataSoapIn" />
      <wsdl:output message="tns:OdeslatDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IkpWebServiceSoap" type="tns:IkpWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OveritStavApi">
      <soap:operation soapAction="http://ispv.cz/ikp/webservices/2017-1/ikpwebservice/OveritStavApi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZkontrolovatData">
      <soap:operation soapAction="http://ispv.cz/ikp/webservices/2017-1/ikpwebservice/ZkontrolovatData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OdeslatData">
      <soap:operation soapAction="http://ispv.cz/ikp/webservices/2017-1/ikpwebservice/OdeslatData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IkpWebServiceSoap12" type="tns:IkpWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OveritStavApi">
      <soap12:operation soapAction="http://ispv.cz/ikp/webservices/2017-1/ikpwebservice/OveritStavApi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZkontrolovatData">
      <soap12:operation soapAction="http://ispv.cz/ikp/webservices/2017-1/ikpwebservice/ZkontrolovatData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OdeslatData">
      <soap12:operation soapAction="http://ispv.cz/ikp/webservices/2017-1/ikpwebservice/OdeslatData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IkpWebService">
    <wsdl:port name="IkpWebServiceSoap" binding="tns:IkpWebServiceSoap">
      <soap:address location="https://ispv.cz/testikp/WebServices/2017-1/IkpWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="IkpWebServiceSoap12" binding="tns:IkpWebServiceSoap12">
      <soap12:address location="https://ispv.cz/testikp/WebServices/2017-1/IkpWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>